*{
    border: 1px dashed black;
}

body{
    color: white;
}

header{
    height: 100px;
    background-color: #2c3e50;
}


#profile{
    height: 200px;
    background-color: #1abc9c;
}

#portfolio{
    min-height: 200px;
    color: black;
}

#about-me{
    min-height: 200px;
    background-color: #1abc9c;
}

#contact{
    height: 200px;
    color: black;
}

#main-footer{
    background-color: #3a546d;
    min-height: 50px;
}

#bottom-footer{
    background-color: #2c3e50;
    min-height: 50px;
}

