/*{
    border: 1px dashed black;
}*/


/*Generics*/
body{
    color: white;
}

header{
    height: 100px;
    background-color: #2c3e50;
}

ul{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

/*Utils*/
.star-hr{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    margin: 1rem 0;
}
.star-hr div{
    width: 15%;
    height: 3px;
    background-color: white;
}

.star-hr i{
    font-size: 2rem;
}

.btn-send{
    background-color: #1abc9c;
}
/*Header*/

.right-side ul{
    gap: 1rem;
}

/*Profile Section*/

#profile{
    background-color: #1abc9c;
}

#profile img{
    max-width: 200px;
}

/*Portfolio Section*/

#portfolio{
    color: #2c3e50;
}

#portfolio .star-hr div{
    background-color: #2c3e50;
}

/*About me Section*/

#about-me{
    background-color: #1abc9c;
}

/*Contact Section*/

#contact{
    color:#2c3e50;
}

#contact .star-hr div{
    background-color: #2c3e50;
}

#contact ::placeholder{
    color: #222;
}

/*Footer*/

#main-footer{
    background-color: #3a546d;
    min-height: 50px;
}

#bottom-footer{
    background-color: #2c3e50;
    min-height: 50px;
}

